/*
* Make it beautiful 🌈.
*/

/* EB Garamond Google Font */
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");

body {
  background-color: white;
  color: black;
  font-family: "EB Garamond", sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

body#body {
  vertical-align: middle;
  display: table-cell;
}

h1 {
  font-family: "EB Garamond", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 54px;
  margin: 0;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: 36px;
  margin: 0;
}

li {
  display: inline;
  padding: 10px;
  position: relative;
}

li a {
  border-spacing: 0;
  color: black;
  display: inline-block;
  transition: transform 0.2s ease;
}

ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
