/*
* Make it beautiful 🌈.
*/

body {
  height: 100vh;
  transition: all 0.3s cubic-bezier(0.33, 1, 0.66, 1);
  /* background-image: url(../img/glitter.gif); */
}

.glitter {
  color: white;
  background-image: url(../img/glitter.gif);
  background-color: initial;
  filter: hue-rotate(45deg);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  text-decoration: none;
}

.list .fa-lg {
  line-height: 1;
}

.checkbox-toggle {
  height: 24px;
  width: 24px;
  transition: all 0.3s cubic-bezier(0.33, 1, 0.66, 1);
}

.checkbox-wrapper {
  width: 48px;
  height: 24px;
}

.checkbox:checked + .checkbox-wrapper {
  background-color: #19a974; /* green color */
  border-color: black !important;
}

.checkbox:checked + .checkbox-wrapper .checkbox-toggle {
  left: 24px;
  background-color: white;
}

.checkbox:checked +  {
  background: black;
}
