
.section-hero {
    height: 100vh;
}



#project {
    font-family: 'Permanent Marker', cursive;
    color: #e74c3c;
    font-size: 1.2em;
}

.blank {
    width: 50%;
    height:4px;
    margin-top: -.5em;
    margin-left:auto;
    margin-right:auto;
    background: #ffffff;
}

.section-subtitle {
    font-size: 2em;
    margin-bottom: 10px;
}
