---
import Layout from '../layouts/Layout.astro';
import ChessGame from '../components/ChessGame.astro';
const posts = await Astro.glob('./blog/*.md');
const sorted = posts.sort((a, b) => new Date(b.frontmatter.pubDate) - new Date(a.frontmatter.pubDate));
---

<Layout title="Welcome home">
  <h1 class="f5">Recent Posts</h1>
  <div class="posts">
    {sorted.map(post => (
      <div class="pv1">
        <div class="flex justify-between items-center">
          <h2 class="f5 mv0"><a href={post.url}>{post.frontmatter.title}</a></h2>
          <p class="f6 date mv0">{new Date(post.frontmatter.pubDate).toLocaleDateString()}</p>
        </div>
        <p class="f6 mt1 mb2">{post.frontmatter.description}</p>
      </div>
    ))}
  </div>
  <ChessGame />
</Layout>
